.mymessage{
 	padding: 5px;
    margin-bottom: 4px;
    white-space: pre-wrap;
	
}
.msg{
	color: black;
	background: blue;

	
}
.messageCont{
    width: 100%;
    height: 70px;   
    padding-left: 10px;
    padding-right: 10px;
    color: black;
	

}