<ion-header>
<ion-toolbar>
  	<ion-button slot="start">
      <ion-back-button default ref="/tab3"></ion-back-button>
    </ion-button>
       <ion-title>Message</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row id="item100" *ngFor="let mess of messages">
        <ion-col class="mymessage msg" offset="5" size="7" >
          <h6>{{mess.message}}</h6>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
   
   <ion-toolbar>
     <ion-row align-items-center no-padding>
      
      <ion-col size="9">
          <textarea  [(ngModel)]="message" class="messageCont"  placeholder="Message" autosize></textarea>
      </ion-col>
        
		<ion-col size="3">
        <ion-button (click)="send()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
        </ion-col>

    </ion-row>
    </ion-toolbar>

</ion-footer>
